In [8]:
print('hello world')

hello world

In [9]:
'''
Q1. Write a program to print the following square pattern of numbers:

1 2 3 4 
1 2 3 4
1 2 3 4
1 2 3 4
'''

print("1 2 3 4\n" * 4)

#OR

for i in range(1,5):
    for j in range(1, 5):
        print(j, end = ' ')
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [13]:
'''
Q2. Right-Angled Triangle of Numbers: Write a program to print a right-angled triangle pattern of numbers like this:

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''
pat=''                              # Initialize an empty string to store the pattern
for i in range(1, 6):
    pat = pat + str(i) +' '         # Concatenate the current number (converted to string) and a space to 'pat'
    print(pat)

# OR 

pat = "1 2 3 4 5"
for i in range(1, 10, +2):
    print(pat[0:i])

'''
This can be done in another way with the help of two loops as below.
'''
print("\nUsing double loops")

for i in range(1, 6):           # Outer loop for rows
    for j in range(1,i+1):      # Inner loop for numbers in each row
        print(j, end=' ')       # Print the number followed by a space
    print()                     # Move to the next line after each row

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Using double loops
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
'''
Q3. Right-Angled Triangle of Numbers: Write a program to print a right-angled triangle pattern of numbers like this:

5 
5 4 
5 4 3 
5 4 3 2 
5 4 3 2 1 
'''

pat=''
for i in range(5, 0, -1):
    pat = pat + str(i) + ' '
    print(pat)

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [15]:
'''
Q4. Inverted Right-Angled Triangle of Numbers: Write a program to print an inverted right-angled triangle of numbers:

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
'''

pat = '5 4 3 2 1'           # Total length of the string is 9
for i in range(len(pat), 0, -2):   # Step -2 in order to skin the space in between the numbers.
    print(pat[0:i])

# OR 

for i in range(5):
    for j in range(5, i, -1):       # In every iteration starts printing from 5 and towards the value of i.
        print(j, end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
'''
Q5. Write a program to print the following parallelogram pattern of numbers and spaces:

      1 2 3 4 
    1 2 3 4
  1 2 3 4
1 2 3 4
'''

space=6
for i in range(1,5):
    print(' ' * space + '1 2 3 4')
    space -= 2

      1 2 3 4
    1 2 3 4
  1 2 3 4
1 2 3 4

In [ ]:
'''
Q6. Write a program to print the following triangle pattern of numbers and spaces:

        1
      0 1
    1 0 1
  0 1 0 1
1 0 1 0 1
'''

In [2]:
'''
Q7. Write a program to print the following pyramid pattern of numbers and spaces:

      1
    1 2 1
  1 2 3 1 2
1 2 3 4 1 2 3
'''

'\nQ7. Write a program to print the following pyramid pattern of numbers and spaces:\n\n      1\n    1 2 1\n  1 2 3 1 2\n1 2 3 4 1 2 3\n'

In [ ]:
'''
Q8. Write a program to print the following inverse pyramid pattern of numbers and spaces:

1 2 3 4 3 2 1
  1 2 3 2 1
    1 2 1
      1
'''

In [ ]:
'''
Q9. Write a program to print the following triangle pattern of numbers:

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
'''

In [ ]:
'''
Q10. Write a program to print the following rhombus pattern of numbers:
      
      1  
    1 2 3
  1 2 3 4 5
1 2 3 4 5 6 7
  1 2 3 4 5
    1 2 3 
      1
'''