In [8]:
print('hello world')

hello world

In [9]:
'''
Q1. Write a program to print the following square pattern of numbers:

1 2 3 4 
1 2 3 4
1 2 3 4
1 2 3 4
'''

print("1 2 3 4\n" * 4)

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [10]:
'''
Q2. Right-Angled Triangle of Numbers: Write a program to print a right-angled triangle pattern of numbers like this:

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''
pat=''                              # Initialize an empty string to store the pattern
for i in range(1, 6):
    pat = pat + str(i) +' '         # Concatenate the current number (converted to string) and a space to 'pat'
    print(pat)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
'''
Q3. Right-Angled Triangle of Numbers: Write a program to print a right-angled triangle pattern of numbers like this:

5 
5 4 
5 4 3 
5 4 3 2 
5 4 3 2 1 
'''

pat=''
for i in range(5, 0, -1):
    pat = pat + str(i) + ' '
    print(pat)

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [4]:
'''
Q4. Inverted Right-Angled Triangle of Numbers: Write a program to print an inverted right-angled triangle of numbers:

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
'''

pat = '5 4 3 2 1'           # Total length of the string is 9
for i in range(len(pat), 0, -2):   # Step -2 in order to skin the space in between the numbers.
    print(pat[0:i])

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
'''
Q6. Write a program to print the following triangle pattern of numbers and spaces:

        1
      0 1 0
    1 0 1 0 1
  0 1 0 1 0 1 0
1 0 1 0 1 0 1 0 1
'''

'\nQ6. Write a program to print the following triangle pattern of numbers and spaces:\n\n        1\n      0 1 0\n    1 0 1 0 1\n  0 1 0 1 0 1 0\n1 0 1 0 1 0 1 0 1\n'

In [ ]:
'''
Q7. Write a program to print the following pyramid pattern of numbers and spaces:

    1
  2 3 4
5 6 7 8 9
'''

'\nQ7. Write a program to print the following pyramid pattern of numbers and spaces:\n\n      1\n    1 2 1\n  1 2 3 1 2\n1 2 3 4 1 2 3\n'

In [8]:
'''
Q8. Write a program to print the following inverse pyramid pattern of numbers and spaces:

1 2 3 4 3 2 1
  1 2 3 2 1
    1 2 1
      1
'''

'\nQ8. Write a program to print the following inverse pyramid pattern of numbers and spaces:\n\n1 2 3 4 3 2 1\n  1 2 3 2 1\n    1 2 1\n      1\n'

In [ ]:
'''
Q9. Write a program to print the following triangle pattern of numbers:

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
'''

In [ ]:
'''
Q10. Write a program to print the following rhombus pattern of numbers:
      
      1  
    1 2 3
  1 2 3 4 5
1 2 3 4 5 6 7
  1 2 3 4 5
    1 2 3 
      1
'''