In [22]:
print('hello world')

hello world

In [23]:
'''
Q1. Write a program to print the following square pattern of numbers:

1 2 3 4 
1 2 3 4
1 2 3 4
1 2 3 4
'''

print("1 2 3 4\n" * 4)

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [24]:
'''
Q2. Right-Angled Triangle of Numbers: Write a program to print a right-angled triangle pattern of numbers like this:

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''
pat=''                              # Initialize an empty string to store the pattern
for i in range(1, 6):
    pat = pat + str(i) +' '         # Concatenate the current number (converted to string) and a space to 'pat'
    print(pat)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [26]:
'''
Q3. Inverted Right-Angled Triangle of Numbers: Write a program to print an inverted right-angled triangle of numbers:

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
'''

pat = '5 4 3 2 1'           # Total length of the string is 9
for i in range(len(pat), 0, -2):   # Step -2 in order to skin the space in between the numbers.
    print(pat[0:i])

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [27]:
'''
Q4. Write a program to print the inverted triangle number pattern as given below.
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1
'''
pat = '1 2 3 4 5'
for i in range(0, len(pat), 2):
    print(' ' * i + pat[0:len(pat)-i])

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [28]:
'''
Q5. Write a program to print the following triangle pattern of numbers and spaces:

          1
        0 1 0
      1 0 1 0 1
    0 1 0 1 0 1 0
  1 0 1 0 1 0 1 0 1
0 1 0 1 0 1 0 1 0 1 0
'''
pat = '0 1 0 1 0 1 0 1 0 1 0'
mid = len(pat)//2

space = 10
nos = 0
for i in range(6):
  print(' ' * space + pat[mid - nos: mid + nos + 1])
  space -= 2
  nos += 2

          1
        0 1 0
      1 0 1 0 1
    0 1 0 1 0 1 0
  1 0 1 0 1 0 1 0 1
0 1 0 1 0 1 0 1 0 1 0

In [49]:
'''
Q6. Write a program to print the right angled pattern of natural numbers.

1  
2  3  
4  5  6  
7  8  9  10  
11  12  13  14  15 
'''

no = 1
for i in range(5):
  for k in range(i+1):
    print(f'{no}  ', end='')
    no += 1
  print()

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15

In [58]:
'''
Q7. Write a program to print the mirrored right angled pattern of numbers.

        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1
'''

for i in range(5, 0, -1):
  for j in range(0, i):
    print('  ', end='')
  for k in range(5, i-1, -1):
    print(f'{k} ',end='')
  print()

          5
        5 4
      5 4 3
    5 4 3 2
  5 4 3 2 1

In [2]:
'''
Q8. Write a program to print the following inversed pyramid pattern of numbers and spaces.

1 2 3 4 3 2 1
  1 2 3 2 1
    1 2 1
      1
'''

for i in range(4, 0, -1):
  for j in range(4, i, -1):
    print(' ', end=' ')
  for k in range(1, i+1):
    print(k, end=' ')
  for l in range(i-1, 0, -1):
    print(l, end=' ')
    l -= 1
  print()

1 2 3 4 3 2 1
  1 2 3 2 1
    1 2 1
      1

In [4]:
'''
Q9. Print the pattern given below.

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2 
1
'''
cols = int(input('Enter the no of columns: '))

for i in range(0, cols+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()
for i in range(0, cols+1):
    for j in range(1, cols-i):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [292]:
'''
Q10. Write a program to print the following rhombus pattern of numbers:
      
      1  
    1 2 3
  1 2 3 4 5
1 2 3 4 5 6 7
  1 2 3 4 5
    1 2 3 
      1
'''    

'''
for i in range(1, 8, 2):
  for j in range(8, i+1, -1):
    print(' ', end='')
  for k in range(1, i+1):
    print(k, end=' ')
  print()

for i in range(6, 0, -2):
  for j in range(6, i-2, -1):
    print(' ', end='')
  for k in range(1, i):
    print(k, end=' ')
  print()
'''
n =  15 # Total number of rows
for i in range(1, n + 1):
    # Calculate the effective row index for symmetry
    row = i if i<=n//2 +1 else n-i+1
    # Create the number sequence as a string
    numbers = " ".join(str(j) for j in range(1, 2 * row))    
    # Calculate the leading spaces for alignment
    spaces = " " * (n - 2 * row + 2)
    # Print the row
    print(numbers)

1
1 2 3
1 2 3 4 5
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7
1 2 3 4 5
1 2 3
1